/* colors */
$dark-blue: #10222b;
$dark-green: #95AB63;
$light-green: #BDD684;
$mint: #E2F0D6;
$beige: #F6FFE0;
/* fonts */

$font: JosefinSans,  Opensans, Raleway, Helvetica, sans-serif;

/* background colors */
$head-foot: $dark-blue;
$text-box1: $dark-green;
$text-box2: $dark-green;
$text-box3: $light-green;

/* text colors */
$head-hidden: $dark-blue;
$head-shown: $beige;
$body: $beige;
$text-hover: $mint;


