<section id="contact">
            <a class= "title" id ="contact"> </a>
            <div class="block90_1">
                <div class="container">
                    <div class="row">
                        <div class="block-part-title center">
                            <h1 class="part-title">Contact us</h1>
                            <h4 class="part-sub-title">We  meet you</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block-part-text">
                                <h4 class="widget-title"><i class="ion-android-locate"></i>Adress:</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <h4 class="widget-title"><i class="ion-android-call"></i>Phone:</h4>

                                <p>(10 808) 321-1785-952<br>
                                    (10 808) 321-1785-953
                                </p>
                                <h4 class="widget-title"><i class="ion-email"></i>Email:</h4>
                                <p> mosaic-design@domain.com<br>
                                    support@yoursite.com
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            
                            <div id="form-wrapper">
                                <div id="form-inner">
                                    <div id="ErrResults"><!-- Error Here --></div>
                                    <div id="MainResult"><!-- Response Here --></div>
                                    <div id="MainContent">
                                        <form id="MyContactForm" name="MyContactForm" method="post">
                                            <p class="name">
                                                <input type="text" name="name" id="name" placeholder="Your Name">
                                                <label for="name" id="nameLb"><span class="error">*Name Field Required</span></label>
                                            </p>
                                            <p>
                                                <input type="email" name="email" id="email" placeholder="Your Email">
                                                <label for="email" id="emailLb">
                                                    <span class="error error1">*Email Field Required</span> 
                                                    <span class="error error2">*Email Not Valid</span>
                                                </label> 
                                            </p>
                                            <p> 
                                                <input type="text" name="phone" id="phone" placeholder="Your Telephone">
                                                <label for="phone" id="phoneLb"><span class="error">*Telephone Field Required</span></label>
                                            </p>
                                            <p class="textarea">
                                                <textarea name="message" id="message" placeholder="Your Message" rows="4"></textarea>
                                                <label for="message" id="messageLb"><span class="error">*Message Field Required</span></label>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="text-left">
                                                <a href="#" class="contact-btn btn-default">Send Message</a>  
                                            </div>

                                        </form>
                                    </div><!--MainContent-->
                                </div><!--form-inner-->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>