
        <!-- ===========================================
        =====          Footer section               ====
        ============================================ -->
        <footer id="footer">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <ul class="footer-menu list-unstyled text-center">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right col-xs-12 col-sm-12">
                                <ul class="footer-icon list-unstyled">
                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion-social-dropbox"></i></a></li>
                                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-7 pull-right col-xs-12 col-sm-10">
                                <p class="reserved">
                                    © Built with mussan. All rights reserved. MosaicDesign™
                                </p>

                            </div>
                            <div class="col-md-1 col-xs-12 col-sm-2">
                                <div class="footer-logo">
                                   <img src="http://placehold.it/76x38">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.container-->
        </footer><!--/footer-->