  <!-- =======================
        =====     Preloader   ======
        =========================-->
        <div id="preloader" class="dark">
            <div id="status"></div>
        </div>
      
        <!-- =======================
        =====     To  top   ======
        =========================-->
        <div id="totop"> 
            <i class="ion-arrow-up-b"></i>
        </div>