<section id="portfolio">
<div class="bg-client">
                <div  class="container-60">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container-60-2 color-scheme-3">
                                <div class="row">
                                    <div  class="owl-single-column owl-carousel owl-carousel-with-dots">
                                        <div class="item">
                                            <div class="block-client-say">
                                                <span class="client-icon"><i class="ion-quote"></i></span>
                                                <p class="client-text">
                                                    Excepteur sint occaecat non proident, sunt sse cillum dolore eu fugiat nulla pariatur in culpa qui officia<br> deserunt mollit anim id est laborum.
                                                </p>
                                                <h4 class="client-author">John Nitiy</h4>
                                                <p class="client-prof">SEO Manager</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="block-client-say">
                                                <span class="client-icon"><i class="ion-quote"></i></span>
                                                <p class="client-text">
                                                    Lorem ipsum dolor sit amet, sse cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat non proident deserunt mollit anim id est laborum.
                                                </p>
                                                <h4 class="client-author">Tom Goly</h4>
                                                <p class="client-prof">Web Designer</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="block-client-say">
                                                <span class="client-icon"><i class="ion-quote"></i></span>
                                                <p class="client-text">
                                                    Excepteur sse cillum dolore eu fugiat nulla pariatur sint occaecat non proident, sunt in culpa qui officia<br> deserunt sse cillum dolore eu fugiat nulla pariatur mollit anim id est laborum.
                                                </p>
                                                <h4 class="client-author">Anna Johniy</h4>
                                                <p class="client-prof">Web Developer</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  <!-- Add images of work
                <div class="parrtners">
                    <div id="owl-partners"  class="owl-carousel">
                        <div class="block-parrtners">
                            <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                        </div>
                        <div class="block-parrtners">
                            <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                        </div>
                        <div class="block-parrtners">
                            <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                        </div>
                        <div class="block-parrtners">
                            <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                        </div>
                        <div class="block-parrtners">
                            <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                        </div>
                        <div class="block-parrtners">
                            <img src="http://placehold.it/140x140" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
-->
            </div>
</section>