  <!-- ==========================
        =====  Service section    ====
        ============================-->
        <section id="service">
                    <a class= "title" id ="services"> </a>
            <div class="container-fluid color-scheme-1">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 no-pad pull-right">
                        <div class="container-60-liner dark pb-90">
                            <div class="block-part-title white">
                                <h1 class="part-title">Services</h1>
                                <h4 class="part-sub-title">Duis ac tellus et risus vulputate vehicula</h4>
                            </div>
                            <div class="block-part-text white">
                                <p>
                                    Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.
                                </p>
                            </div>
                            <article class="block-rotate-title dark">
                                <span class="rotate-title">Categories</span>
                                <div class="block-rotate-inner">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Photography and Imaging services</a></li>
                                        <li><a href="#">Media and Audio services</a></li>
                                        <li><a href="#">Web developing services</a></li>
                                        <li><a href="#">Server installation services</a></li>
                                        <li><a href="#">Tutorial and support services</a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
                        <div class="container-60-2">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="block-service white">
                                        <span class="service-icon"><i class="icon ion-ios-pie-outline"></i></span>
                                        <div class="block-title">
                                            <a href="">Account and Advert</a>
                                            <p>Ut magna aliqua enim ad ipsum dolor sit amet, con sectetur adipis icing minim veniam, quis nostrud</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="block-service white">
                                        <span class="service-icon"><i class="ion-ios-printer-outline"></i></span>
                                        <div class="block-title">
                                            <a href="">Printing and Spelling</a>
                                            <p>Ut magna aliqua enim ad ipsum dolor sit amet, con sectetur adipis icing minim veniam, quis nostrud</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="block-service white">
                                        <span class="service-icon"><i class="ion-ios-videocam-outline"></i></span>
                                        <div class="block-title">
                                            <a href="">Video and Effects</a>
                                            <p>Ut magna aliqua enim ad ipsum dolor sit amet, con sectetur adipis icing minim veniam, quis nostrud</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="block-service white">
                                        <span class="service-icon"><i class="ion-ios-book-outline"></i></span>
                                        <div class="block-title">
                                            <a href="">Well documentation</a>

                                            <p>Ut magna aliqua enim ad ipsum dolor sit amet, con sectetur adipis icing minim veniam, quis nostrud</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
