<!-- https://css-tricks.com/perfect-full-page-background-image/ -->

<!-- =======================
        =====   Home section  ======
        =========================-->
<section class= "title" id="splash" name="splash">
  <div class="splash-bottom">
     <button class="btn btn-default white">Read More</button>
  </div>

</section>




