<!-- https://css-tricks.com/perfect-full-page-background-image/ -->

<!-- =======================
        =====   Home section  ======
        =========================-->
<section class= "title" id="splash" name="splash">
  <div class="splash-bottom">
     <button class="btn btn-default white">Read More</button>
  </div>

</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/smoothscroll.js"></script>
	<script src="js/all.js"></script> <!-- Resource jQuery -->




