---
title: Tope is Awesome
---
<head>
  <ul>
  <li><%= link_to 'Home', '/index.html.erb' %></li>
 <li><%= link_to 'Contact', '/contact.html.erb' %></li>
  </ul>
</head>

<div class ="about">
  <p class="doc">
  	My name is Olatope "Tope" Agboola, I am Front-End Developer currently residing in Durham,NC. I thrive on creating interactive and intuitive digital experiences for web and mobile. My passion and talents are seen in my work across various functions, including engineering, administration and marketing, to building and managing companies. Through these experiences, I have grown into a versatile professional. I am also aspiring to increase my Front End and Back End skills as I just finished a mobile development course at <a href="http://www.codechicago.com/"> BLUE1647</a>
  </p>
</div>