---
title: Tope is Awesome
---
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

<head>
<ul>
    <li><%= link_to 'Home', '/home/nitrous/code/test/source/index.html.erb' %></li>
    <li><%= link_to 'About', '/home/nitrous/code/test/source/about.html.erb' %></li>
    <li><%= link_to 'Contact', '/home/nitrous/code/test/source/contact.html.erb' %></li> 
 <ul>
   </head>

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.jpg" %>
  </div>
  <h1>Olatope Agboola</h1>

  <p> <a href="mailto:tope628@gmail.com">Email</a> | <a href="https://github.com/tope628">GitHub</a> | <a href="https://www.linkedin.com/in/olatopeagboola" >LinkedIn</a> | <a href="https://twitter.com/topea_" >Twitter</a></p>

  <!-- .doc -->
</div><!-- .welcome -->
